


.home-intro-text{
  z-index: 900;
}

#intro-span {
  color: #f44292;
}

.story-row {
  background-color: #fbf8f9;
}

#goal {

  background-color: #075aae;
  min-height: 400px;
  word-spacing: 5px;
}

.home-doCard:hover {

  transform: scale(1.1 ,1.1);
  transition: transform 100ms linear;
}



