

.heading-1{
  font-size: 40px;
}

#intro-span {
  color: #f44292;
}

.story-row {
  background-color: #fbf8f9;
}

#goal {

  background-color: #075aae;
  min-height: 400px;
  word-spacing: 5px;
}

.home-doCard:hover {

  transform: scale(1.1 ,1.1);
  transition: transform 100ms linear;
}

.btn:hover{
  transform: scale(1.1 ,1.1);
  transition: transform 100ms linear ;
}

.dark-overlay{
  position: absolute;
  height: 700px;
  width: 100vw;
  top: 80px;
  left: 0;
  background-image: linear-gradient(270deg, rgba(7,90,174,0), rgba(8,0,96,0.49));

}

