#home-intro-img {
  background-image: url("../Assets/Capture.JPG");
  min-height: 700px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.home-advice-tool {
  background-image: url("../Assets/tool.png");
  background-repeat: no-repeat;
  min-height: 275px;
}

.tool-img {
  transform: scale(1.5, 1.5);
}

.testimonial-img {
  background-image: url("../Assets/test.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
  background-position: center;
}

#about-img {
  background-image: url("../Assets/about-intro.JPG");
  background-repeat: no-repeat;
  width: 100%;
  min-height: 400px;
  background-size: cover;
  background-position: top;
}

.home-story-img {
  min-height: 600px;
  transform: scaleY(1.1);
}


#contact-intro-img{
  background-image: url("../Assets/conatct-intro.JPG");
  min-height: 450px;
  width: 100%;
  background-position: right;

  background-repeat: no-repeat;

}
