@media (max-width: 430px) {

  #home-intro-img {
    min-height:100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
  }

  .dark-overlay{
    position: absolute;
    height: 450px;
    max-width: 100vw;
    top: 170px;
    left: 0;
    background-image: linear-gradient(270deg, rgba(7,90,174,0), rgba(8,0,96,0.49));

  }


  .heading-1{
    font-size: 24px;
  }



  .head{
    font-size: 22px;
  }

  #contact-intro-img{

      background-size: cover;
      background-position: right;
      border: black 2px solid;
      min-height: 100vw;

  }

  .home-doCard {
    min-height: 400px;
  }

  .fill-btn {
    width: 100px;
  }

  .outline-btn {
    width: 120px;
  }

  .home-storyOutline-btn {
    max-width: 150px;
  }

  .home-advice-tool {
    min-height: 300px;
  }

  .home-story-img {
    transform: scaleY(1);
  }
}


@media (max-width: 330px) {

}