@media (max-width: 430px) {

  #home-intro-img {
    min-height:420px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


  }

  .head{
    font-size: 22px;
  }

  #contact-intro-img{
      background-image: url("../Assets/conatct-intro-small.JPG");
      background-size: cover;
      border: black 2px solid;

  }

  .home-doCard {
    min-height: 400px;
  }

  .fill-btn {
    width: 100px;
  }

  .outline-btn {
    width: 120px;
  }

  .home-storyOutline-btn {
    max-width: 150px;
  }

  .home-advice-tool {
    min-height: 300px;
  }

  .home-story-img {
    transform: scaleY(1);
  }
}


@media (max-width: 330px) {

}