@media (max-width: 430px) {

  #home-intro-img {
    min-height:420px;
    background-position: right;

  }




  .home-doCard {
    min-height: 400px;
  }

  .fill-btn {
    width: 100px;
  }

  .outline-btn {
    width: 120px;
  }

  .home-storyOutline-btn {
    max-width: 150px;
  }

  .home-advice-tool {
    min-height: 300px;
  }

  .home-story-img {
    transform: scaleY(1);
  }
}
